@import "~shared/modules/styles/Variables";

// --------------------
// Logo (Default Style)
// --------------------

$icon-color: #dfdfdf;
$icon-color-hover: #d5d5d5;
$text-color: #dbdbdb;
$text-color-hover: #d0d0d0;

.logo-link {
  font-size: 16px;
  font-family: "Arial Rounded MT Bold"; // Todo: change to web-font!
  margin-bottom: 0;
  a {
    color: #fff;
    display: block;
  }
  span {
    text-transform: uppercase;
  }
  span:nth-child(1) {
    font-size: 0.52em;
    padding-left: 1px;
  }
  span:nth-child(2) {
    font-size: 0.7em;
    letter-spacing: 0.05em;
  }
  span:nth-child(3) {
    display: block;
    font-size: 1.3em;
    letter-spacing: 0.16em;
    line-height: 1em;
  }
}